<div class="page-container">
  <section class="work-section" *ngIf="workDetail">
    <app-brand-card
      [title]="workDetail.titleHtml"
      [description]="workDetail.description"
      [logo]="workDetail.logo"
      [primaryBackgroundColor]="workDetail.primaryBackgroundColor"
      [links]="workDetail.links">
    </app-brand-card>
    <img class="sz-card" [src]="workDetail.banner1" [alt]="workDetail.title" [style.background-color]="workDetail.primaryBackgroundColor"/>
    <app-brand-content
      [labels]="workDetail.labels"
      [industry]="workDetail.industry"
      [goals]="workDetail.goals"
      [results]="workDetail.results">
    </app-brand-content>
    <app-brand-design
      [designHero]="workDetail.designHero"
      [typographyFont]="workDetail.typographyFont"
      [colorSwatch]="workDetail.colorSwatch"
      [backgroundColor]="workDetail.primaryBackgroundColor">
    </app-brand-design>
    <img class="sz-card" [src]="workDetail.banner2" [alt]="workDetail.title" [style.background-color]="workDetail.primaryBackgroundColor"/>
    <div *ngIf="workDetail.images.length > 0">
      <div *ngFor="let r of rows" class="images-row">
        <div *ngFor="let c of r"
             class="sz-card image-card"
             [style.background-color]="workDetail.primaryBackgroundColor"
             [ngStyle]="c.styles"
        ></div>
      </div>
    </div>
  </section>
</div>
