.work-section {
  display: flex;
  width: 100%;
  padding: 20px var(--page-inline-padding);
  flex-direction: column;
  gap: 20px;
}
.images-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  .image-card {
    height: 450px;
    width: 100%;
  }
}
