<footer>
  <div class="main-footer">
    <div class="footer-card">
      <div class="footer-card-left">
        <img [src]="appService.isDarkTheme ? 'app-logo-dark.svg' : 'app-logo.svg'"  alt="logo" />
        <p>I’m a Graphic Designer, with over 6 years of industry experience, delivering effective brand and web design solutions.</p>
      </div>
      <div class="footer-card-right">
        <ul>
          <li><a routerLink="/home">Work</a></li>
          <li><a routerLink="/about">About me</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/about">Contact me</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-container-right">
      <div class="work-card">
        <div class="icon-container">
          <img src="icons/globe.svg" alt="globe"/>
        </div>
        <div class="work-content">
          <h4>Globally Available for Work</h4>
          <p>Local Time - 9:00 PM</p>
        </div>
      </div>
      <div class="icon-button-group">
        <button class="icon-button">
          <img src="icons/insta.svg" alt="instagram" />
        </button>
        <button class="icon-button">
          <img src="icons/twitter.svg" alt="twitter" />
        </button>
        <button class="icon-button">
          <img src="icons/email.svg" alt="email" />
        </button>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <p>satzartz &#64; 2024</p>
    <nav>
      <a href="">Security</a>
      <a href="">Terms</a>
      <a href="">Privacy policy</a>
    </nav>
  </div>
</footer>

