<header>
  <div class="left-container">
    <img height="36" [src]="appService.isDarkTheme ? 'app-logo-dark.svg' :'app-logo.svg'" alt="logo"/>
    <app-toggle [selected]="appService.isDarkTheme" (selectedChange)="onTheme($event)"></app-toggle>
  </div>
  <div class="nav-container">
    <nav>
      <a href="">Work</a>
      <a href="">About</a>
      <a href="">Shop</a>
    </nav>
  </div>
  <div class="right-container">
    <app-button label="Let’s talk" iconRight="talk"></app-button>
  </div>
</header>

