<header>
  <div class="left-container">
    <a routerLink="/home"><img height="36" [src]="appService.isDarkTheme ? 'app-logo-dark.svg' :'app-logo.svg'" alt="logo"/></a>
    <app-toggle [selected]="appService.isDarkTheme" (selectedChange)="onTheme($event)"></app-toggle>
  </div>
  <div class="nav-container">
    <nav>
      <a routerLink="/home">Work</a>
      <a routerLink="/about">About</a>
      <a routerLink="/shop">Shop</a>
    </nav>
  </div>
  <div class="right-container">
    <app-button label="Let’s talk" iconRight="talk" hover-invert (onButtonClick)="onMail()"></app-button>
    <div class="ham-menu" (click)="onToggleMenu()">
      <div class="ham-line"></div>
      <div class="ham-line"></div>
      <div class="ham-line"></div>
    </div>
  </div>
</header>
<nav class="nav-card" *ngIf="showMenu">
  <a routerLink="/home">Work</a>
  <a routerLink="/about">About</a>
  <a routerLink="/shop">Shop</a>
  <app-button class="talk-button" label="Let’s talk" iconRight="talk" hover-invert full-width (onButtonClick)="onMail()"></app-button>
</nav>

