<div class="page-container">
  <section class="about-intro">
    <div class="about-container">
      <div class="about-content">
        <p>Designer by day, dreamer by night, gamer at heart.</p>
        <h1>Hi, I’m <span>Satheesh!</span></h1>
        <p>I’ve been passionate about drawing since childhood, with cartoons and video games fueling my creativity. I’d spend hours sketching my favorite characters, completely immersed in bringing them to life on paper. Looking back, those moments paved the way for my journey into design.</p>
        <br/>
        <p>To me, designing feels like a mix of playing a game and creating art. Every project is a fun challenge, and perfecting it feels like hitting the next level or winning something meaningful deep inside. It’s this sense of accomplishment that keeps me excited about every design I create.</p>
        <br/>
        <p>When I’m not designing, I’m a proud dad to my energetic 3-year-old son, who has a magical way of making me feel like a child again. His curiosity and imagination inspire me every day.</p>
        <br/>
        <p>If you’d like to collaborate, chat about design, gaming, or need guidance as a fellow designer, feel free to reach out—I’d love to connect!</p>
        <br/>
        <app-button inverse="true" filled="true" label="Let’s talk" [iconRight]="appService.isDarkTheme ? 'talk' : 'talk-dark'"></app-button>
      </div>
      <div class="about-img">

      </div>
    </div>
  </section>
</div>
