.brand-card {
  border-radius: var(--card-border-radius);
  border: 1px solid var(--card-border);
  background: var(--card-background);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 680px) {
    flex-direction: column;
  }
}
.brand-content {
  width: 50%;
  padding: 40px;
  @media (max-width: 1024px) {
    padding: 30px;
  }
  @media (max-width: 680px) {
    width: 100%;
    padding: 25px;
  }
}
.brand-logo {
  border-radius: 20px;
  border: 1px solid var(--card-border);
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brand-logo-background, #FFE800);
  @media (max-width: 1024px) {
    min-width: 280px;
  }
  @media (max-width: 680px) {
    min-width: unset;
    width: 100%;
    min-height: 260px;
  }
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  span {
    color: var(--primary-color);
  }
  @media (max-width: 1024px) {
    font-size: 3rem;
  }
  @media (max-width: 680px) {
    font-size: 2.5rem;
  }
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
