<div class="page-container">
  <section class="home-banner">
    <div class="home-content">
      <div class="home-card">
        <p>Visual designer whos solves</p>
        <h2><span>Branding</span><br>Solutions for Your Business</h2>
        <app-button inverse="true" filled="true" label="Let’s talk" [iconRight]="appService.isDarkTheme ? 'talk' : 'talk-dark'"></app-button>
      </div>
      <div class="batch-card">
        <swiper-container slides-per-view="auto" space-between="20" free-mode="true" loop="true" speed="300" autoplay="true">
          <swiper-slide><app-badge label="UI/UX"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Branding"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Logo"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Illustration"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Typography"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Design system"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Branding kit"></app-badge></swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="home-banner-img">
      <img src="banner.png"  alt="Satheesh M" />
    </div>
  </section>
  <section class="work-cards">
    <app-work-card title="Power House GYM" description="Created a bold brand identity with a dynamic logo for Power House GYM with vibrant colors, and motivational designs to inspire strength and energy." [labels]="['Branding', 'Logo']" image="gym-bento.png"></app-work-card>
    <app-work-card title="Boo-sync" description="I created a playful yet modern brand identity for Boo-Sync, the dog translator that turns barks into stories. From a friendly logo to vibrant colors, it’s all about connecting pups and people in style!" [labels]="['Branding', 'Logo']" image="boosync.png"></app-work-card>
    <app-work-card title="Your Majesty" description="Developed a bold, elegant brand identity with a crown-inspired logo for Your Majesty fashion brand and a refined color palette, reflecting sophistication and luxury." [labels]="['Branding', 'Logo']" image="your-majesty.png"></app-work-card>
  </section>
</div>
