<div class="page-container">
  <section class="home-banner">
    <div class="home-content">
      <div class="home-card">
        <p>Visual designer whos solves</p>
        <h2><span>Branding</span><br>Solutions for Your Business</h2>
        <app-button inverse="true" filled="true" label="Let’s talk" [iconRight]="appService.isDarkTheme ? 'talk' : 'talk-dark'"></app-button>
      </div>
      <div class="batch-card">
        <swiper-container slides-per-view="auto" space-between="20" free-mode="true" loop="true" speed="300" autoplay="true">
          <swiper-slide><app-badge label="UI/UX"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Branding"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Logo"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Illustration"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Typography"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Design system"></app-badge></swiper-slide>
          <swiper-slide><app-badge label="Branding kit"></app-badge></swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="home-banner-img">
      <img src="banner.png"  alt="Satheesh M" />
    </div>
  </section>
  <section class="work-cards">
    <app-work-card *ngFor="let work of homeWorkInfo" [title]="work.title" [description]="work.description" [labels]="work.labels" [image]="work.image" [id]="work.id"></app-work-card>
  </section>
</div>
