<div class="brand-content">
  <div *ngIf="industry">
    <h4>Industry</h4>
    <p>{{industry}}</p>
    <br/>
  </div>
  <h4>My role</h4>
  <div class="badge-group">
    <app-badge *ngFor="let l of labels" size="s" [label]="l"></app-badge>
  </div>
</div>
<div class="brand-content-description" *ngIf="goals || results.length > 0">
  <div *ngIf="goals">
    <h4>Goals</h4>
    <p>{{goals}}</p>
    <br/>
  </div>
  <div *ngIf="results.length > 0">
    <h4>Results</h4>
    <p *ngFor="let result of results">{{result}}</p>
  </div>
</div>
