<div class="brand-content">
  <h4>Industry</h4>
  <p>Fitness & Wellness</p>
  <br/>
  <h4>My role</h4>
  <div class="badge-group">
    <app-badge *ngFor="let l of labels" size="s" [label]="l"></app-badge>
  </div>
</div>
<div class="brand-content-description">
  <h4>Goals</h4>
  <p>Create a Bold Identity: Develop a striking logo and visual system to represent the gym’s energy and power.
    Inspire Action: Use vibrant colors and motivational messaging to drive engagement and action.
    Ensure Versatility: Design assets adaptable to various touchpoints, from gym interiors to marketing materials.</p>
  <br/>
  <h4>Results</h4>
  <p>Power House Gym’s branding was crafted to reflect its core values of strength, energy, and motivation. The dynamic logo, featuring bold typography and weight-inspired visuals, symbolizes power and fitness. A vibrant color palette of red, yellow, and black was chosen to evoke energy and passion while ensuring high visibility across all branding touchpoints.</p>
  <p>The branding was applied seamlessly across apparel, marketing materials, and digital platforms, including gym wear with motivational slogans like "Do It Now" and bold billboard designs showcasing fitness-focused imagery. This cohesive identity not only inspires members but also establishes Power House Gym as a vibrant and action-driven fitness brand.</p>
</div>
