/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'outfit';
  src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format("truetype");
}

:root {
  --card-border-radius: 30px;
  --card-background: #fff;
  --card-border: #000;
  --button-background: #fff;
  --button-border: #000;
  --button-color: #000;
  --button-inverse-background: #000;
  --button-inverse-border: #fff;
  --button-inverse-color: #fff;
  --badge-background: #E4E4E4;
  --badge-color: #000;
  --primary-color: #FF0000;
  --page-color: #F2F2F2;
  --page-max-width: 1440px;
  --page-inline-padding: 40px;
  --text-color: #000;
  --footer-sub-text: #3D3C3C;
  --footer-nav-border: #BFBFBF;
  --footer-sub-border: #CECECE;
  --footer-icon-button-border: #000;
  --footer-icon-button-background: #000;
  --toggle-color: #000;
  @media (max-width: 500px) {
    --page-inline-padding: 15px;
  }
}
body.dark {
  --card-background: #000;
  --card-border: #A2A2A2;
  --button-background: #000;
  --button-border: #fff;
  --button-color: #fff;
  --button-inverse-background: #fff;
  --button-inverse-border: #000;
  --button-inverse-color: #000;
  --badge-background: #595757;
  --badge-color: #fff;
  --primary-color: #FF0000;
  --page-color: #1A1A1A;
  --text-color: #fff;
  --footer-sub-text: #C4C4C4;
  --footer-nav-border: #505050;
  --footer-sub-border: #656565;
  --footer-icon-button-border: #A2A2A2;
  --footer-icon-button-background: #000;
  --toggle-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
}

html {
  font-size: 16px;
  @media (max-width: 500px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  background: var(--page-color);
}

p, h4, h2, h3, h1 {
  margin: 0;
  color: var(--text-color);
}

.icon {
  width: 14px;
  height: 14px;
}

.page-container {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 112px auto 0;
}

.sz-card {
  border-radius: var(--card-border-radius);
  border: 1px solid var(--card-border);
  background: var(--card-background);
}
